article.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  margin: 0 auto;
  padding: 45px;
}

/** Style Captions in Figures **/
.markdown-body figure > figcaption {
  text-align: center;
  font-style: italic;
  color: var(--fgColor-muted);
}

/** Footnotes **/
.markdown-body .footnotes {
  border-top: 0;
}

/** Styles for metadata **/
.meta {
  font-size: 14px;
  color: var(--fgColor-muted);
  font-style: italic;
}

/** The Footer **/
footer {
  text-align: center;
  padding: 25px 0;
  color: var(--fgColor-muted);
}
footer p {
  font-size: 12px;
  margin-bottom: 0 !important;
}

/** Mermaid Diagrams shouldn't get PRISM styling **/
pre:has(> code.mermaid),
pre:has(> code.language-mermaid) {
  background: none;
  border: none;
  padding: 0;
}

